set default=master
set timeout=5
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
set hidden_timeout_quiet=false

insmod png

menuentry 'Install CentOS 7' {
        linuxefi centos7_x64/images/pxeboot/vmlinuz method=http://{{ host_ip }}/centos7_x64 devfs=nomount
        initrdefi centos7_x64/images/pxeboot/initrd.img
}
