Alias /centos7_x64 {{ global_tftp_root }}/centos7_x64/

<Directory {{ global_tftp_root }}/centos7_x64>
Options Indexes FollowSymLinks
Require all granted
Allow from 127.0.0.1 {{ allow_network }}
</Directory>
